<div class="wm-main" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>

  <div
    *ngIf="isPortrait"
    class="wm-main__use-landscape animate__animated animate__fadeInDown"
    [ngStyle]="{ height: height + 'px', width: width + 'px' }"
  >
    <img class="wm-main__logo" src="assets/images/logo-1.png" alt="Logo" />
    <div class="wm-main__landscape-text">
      <img src="assets/images/phone.png" alt="Phone" />

      <span> This game works best <br />in landscape mode. </span>
    </div>
  </div>
</div>
