<div class="wm-leaderboard" fxLayoutAlign="center center">
  <div
    class="wm-leaderboard__container"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <img
      src="assets/images/leaderboard.png"
      alt="Leaderboard"
      class="wm-leaderboard__bg"
    />
    <div class="wm-leaderboard__header">
      <!-- <img src="assets/images/logo.png" alt="Logo" /> -->
      <!-- <span> LEADERBOARD </span> -->
    </div>
    <div class="wm-leaderboard__leader-container" [@listAnimation]="5">
      <!-- Leaderitem -->
      <div
        class="wm-leaderboard__leader-item"
        *ngFor="let leader of leaderboards; let i = index"
      >
        <div class="wm-leaderboard__leader-caption">
          <img src="assets/images/leader-item-2.png" alt="Leader Item" />
          <span>
            {{ i + 1 }}
          </span>
        </div>
        <div class="wm-leaderboard__leader-body">
          <img src="assets/images/leader-item-1.png" alt="Leader Item" />
          <div>
            <span>
              {{ leader.name }}
            </span>
            <span>
              {{ leader.time | number: '.2-2'
              }}<span *ngIf="leader.time">s</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="wm-leaderboard__action-container"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="wm-leaderboard__action-btn" (click)="play()">
      <img src="assets/images/play-again-btn-min.png" alt="Play Again" />
      <!-- <span> PLAY AGAIN </span> -->
    </div>
    <div class="wm-leaderboard__action-btn" (click)="leaderBoards()">
      <img src="assets/images/leaderboard-btn-min.png" alt="Leaderboard" />
      <!-- <span> LEADERBOARD </span> -->
    </div>
  </div>
</div>
