<div class="wm-enter">
  <div class="wm-enter__container" fxLayoutAlign="center center">
    <div
      class="wm-enter__form-container"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <img class="wm-enter__logo" src="assets/images/logo-1.png" alt="Logo" />
      <span class="wm-enter__enter-text"> ENTER YOUR NAME </span>
      <div
        class="wm-enter__name-field animate__animated"
        [class.animate__shakeX]="isError"
        fxLayoutAlign="center center"
      >
        <img src="assets/images/entry-form.png" alt="Entry Form" />
        <textarea
          class="wm-enter__name-text"
          [(ngModel)]="name"
          rows="1"
        ></textarea>
      </div>
      <img
        (click)="next()"
        class="wm-enter__action"
        src="assets/images/ok-btn.png"
        alt="Ok"
      />
    </div>
  </div>
</div>
