@import '~src/assets/scss/theme-config';
@import '~src/assets/scss/config';

.#{$style-prefix}-success {
  background-image: url(/assets/images/bg-3.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  &__container {
    height: 100%;
  }

  &__leader-score {
    text-align: center;
    font-family: 'Dolce Vita';
    position: absolute;
    color: white;
    // padding-left: 1.5%;
    font-weight: 800;

    @include for-phone {
      font-size: 24px;
      // padding-bottom: 12px;
    }

    @include for-tablet {
      font-size: 42px;
      // padding-bottom: 14px;
    }

    @include for-small-desktop {
      font-size: 51px;
      // padding-bottom: 16px;
    }

    @include for-desktop {
      font-size: 70px;
      // padding-bottom: 24px;
    }

    @include for-big-desktop {
      font-size: 100px;
      // padding-bottom: 24px;
    }
  }

  &__congrats-text {
    margin-top: 5px;
    font-family: 'Varela';
    font-size: 36px;
    color: $danger;
    letter-spacing: 4px;
    font-weight: 600;
    color: white;

    @include for-phone {
      margin-top: 3px;
      font-size: 24px;
    }

    @include for-tablet {
      font-size: 28px;
      margin-top: 5px;
    }

    @include for-small-desktop {
      font-size: 32px;
      margin-top: 7px;
    }

    @include for-desktop {
      font-size: 36px;
      margin-top: 10px;
    }

    @include for-big-desktop {
      font-size: 48px;
      margin-top: 12px;
    }
  }

  &__you-found-1 {
    font-family: 'Varela';
    letter-spacing: 3px;
    font-size: 24px;
    color: white;

    @include for-phone {
      font-size: 18px;
    }

    @include for-tablet {
      font-size: 24px;
    }

    @include for-small-desktop {
      font-size: 28px;
    }

    @include for-desktop {
      font-size: 32px;
    }

    @include for-big-desktop {
      font-size: 36px;
    }
  }

  &__your-time {
    font-family: 'Varela';
    letter-spacing: 3px;
    font-size: 24px;
    color: white;

    @include for-phone {
      font-size: 10px;
      letter-spacing: 1px;
    }

    @include for-tablet {
      font-size: 12px;
      letter-spacing: 1px;
    }

    @include for-small-desktop {
      font-size: 14px;
      letter-spacing: 3px;
    }

    @include for-desktop {
      font-size: 16px;
      letter-spacing: 3px;
    }

    @include for-big-desktop {
      font-size: 18px;
      letter-spacing: 3px;
    }
  }

  &__you-found {
    font-family: 'Varela';
    letter-spacing: 3px;
    font-size: 24px;
    color: white;

    @include for-phone {
      font-size: 12px;
      letter-spacing: 1px;
      margin-bottom: 12px;
    }

    @include for-tablet {
      font-size: 14px;
      letter-spacing: 1px;
      margin-bottom: 16px;
    }

    @include for-small-desktop {
      font-size: 16px;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }

    @include for-desktop {
      font-size: 18px;
      letter-spacing: 3px;
      margin-bottom: 24px;
    }

    @include for-big-desktop {
      font-size: 20px;
      letter-spacing: 3px;
      margin-bottom: 28px;
    }
  }

  &__share-results {
    text-transform: uppercase;
    font-family: 'Varela';
    letter-spacing: 3px;
    font-size: 24px;
    color: white;

    @include for-phone {
      font-size: 12px;
      margin-top: 14px;
      letter-spacing: 1px;
    }

    @include for-tablet {
      font-size: 14px;
      margin-top: 20px;
      letter-spacing: 1px;
    }

    @include for-small-desktop {
      font-size: 16px;
      margin-top: 24px;
      letter-spacing: 3px;
    }

    @include for-desktop {
      font-size: 18px;
      margin-top: 36px;
      letter-spacing: 3px;
    }

    @include for-big-desktop {
      font-size: 20px;
      margin-top: 64px;
      letter-spacing: 3px;
    }
  }

  &__facebook-action {
    cursor: pointer;
    transition: 0.2s ease-in;
    margin-top: 8px;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    @include for-phone {
      max-width: 24px;
    }

    @include for-tablet {
      max-width: 32px;
    }

    @include for-small-desktop {
      max-width: 36px;
    }

    @include for-desktop {
      max-width: 42px;
    }

    @include for-big-desktop {
      max-width: 48px;
    }
  }

  &__trophy {
    @include for-phone {
      max-width: 48px;
    }

    @include for-tablet {
      max-width: 84px;
    }

    @include for-small-desktop {
      max-width: 102px;
    }

    @include for-desktop {
      max-width: 140px;
    }

    @include for-big-desktop {
      max-width: 200px;
    }
  }

  &__action-container {
    right: 5%;
    position: absolute;
    bottom: 5%;

    @include for-phone {
      right: 1%;
      bottom: 2.5%;
    }

    @include for-tablet {
      right: 2%;
      bottom: 2.5%;
    }

    @include for-small-desktop {
      right: 3%;
      bottom: 3%;
    }

    @include for-desktop {
      right: 4%;
      bottom: 4%;
    }

    @include for-big-desktop {
      right: 5%;
      bottom: 5%;
    }
  }

  &__action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;

    span {
      font-family: 'Dolce Vita';
      letter-spacing: 2px;
      font-size: 24px;
      font-weight: 600;

      @include for-phone {
        font-size: 14px;
        margin-top: -5px;
      }

      @include for-tablet {
        font-size: 16px;
        margin-top: -8px;
      }

      @include for-small-desktop {
        font-size: 18px;
        margin-top: -12px;
      }

      @include for-desktop {
        font-size: 20px;
        margin-top: -15px;
      }

      @include for-big-desktop {
        font-size: 22px;
        margin-top: -17px;
      }
    }

    // &:first-child {
    //   img {
    //     animation: playBtn 2s ease-in infinite;
    //   }
    // }

    img {
      height: 20vh;
      transition: 0.2s ease-in;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
  &__time-text {
    font-family: 'Dolce Vita';
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 600;
    position: absolute;

    @include for-phone {
      font-size: 18px;
      padding-bottom: 5px;
    }

    @include for-tablet {
      font-size: 20px;
      padding-bottom: 7px;
    }

    @include for-small-desktop {
      font-size: 24px;
      padding-bottom: 10px;
    }

    @include for-desktop {
      font-size: 28px;
      padding-bottom: 12px;
    }

    @include for-big-desktop {
      font-size: 32px;
      padding-bottom: 14px;
    }
  }

  &__time {
    max-width: 500px;
    min-width: 200px;
    width: 100%;
    height: auto;

    @include for-phone {
      width: 140px;
    }

    @include for-tablet {
      width: 160px;
    }

    @include for-small-desktop {
      width: 200px;
    }

    @include for-desktop {
      width: 240px;
    }

    @include for-big-desktop {
      width: 280px;
    }
  }
}

@keyframes playBtn {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translateY(3%);
  }

  50% {
    transform: translateY(0%);
  }

  75% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0%);
  }
}
