<div class="wm-landing">
  <div class="wm-landing__container" fxLayoutAlign="end">
    <div fxFlex="50" fxLayoutAlign="center center">
      <img
        src="assets/images/logo-1.png"
        alt="Logo"
        class="animate__animated animate__slideInLeft wm-landing__logo"
      />
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
      <a [routerLink]="['enter-name']">
        <img
          class="wm-action"
          src="assets/images/click-start-btn.png"
          alt="Click Start"
        />
      </a>
      <a [routerLink]="['leaderboard']"
        ><img
          class="wm-action"
          src="assets/images/leaderboard-btn.png"
          alt="Leaderboard"
      /></a>
    </div>
  </div>
</div>
