@import '~src/assets/scss/theme-config';
@import '~src/assets/scss/config';

.#{$style-prefix}-how-to {
  background-image: url(/assets/images/bg-3.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__how-text {
    font-family: 'Dolce Vita';
    font-size: 36px;
    color: $dark;
    letter-spacing: 7px;
    font-weight: 800;

    @include for-phone {
      font-size: 24px;
    }

    @include for-tablet {
      font-size: 28px;
    }

    @include for-small-desktop {
      font-size: 36px;
    }

    @include for-desktop {
      font-size: 42px;
    }

    @include for-big-desktop {
      font-size: 52px;
    }
  }

  &__logo {
    height: 25vh !important;
    width: min-content !important;
  }

  &__instructions-img {
    margin-top: 7vh;
    height: 40vh;
  }

  &__instructions {
    font-size: 24px;
    font-family: 'Varela';
    color: $dark;
    font-weight: 600;

    li {
      margin-top: 8px;
    }

    @include for-phone {
      font-size: 14px;
      margin-top: 18px;
    }

    @include for-tablet {
      font-size: 16px;
      margin-top: 20px;
    }

    @include for-small-desktop {
      font-size: 18px;
      margin-top: 24px;
    }

    @include for-desktop {
      font-size: 20px;
      margin-top: 28px;
    }

    @include for-big-desktop {
      font-size: 24px;
      margin-top: 32px;
    }
  }

  &__action {
    height: 22vh;
    transition: 0.2s ease-in;
    cursor: pointer;
    position: absolute;
    right: 2vh;
    bottom: 8vh;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
