<div class="wm-game">
  <div class="wm-game__container">
    <div class="wm-game__game" style="transform: scale(1.2)">
      <!-- Row 1 -->
      <div class="wm-game__game-row-1">
        <div
          class="wm-game__game-tile animate__animated"
          *ngFor="let tile of row1"
          [class.animate__flipInY]="tile.opened"
          (click)="openTile(tile)"
        >
          <img
            class="animate__animated"
            [class.animate__flipOutY]="!tile.opened"
            src="assets/images/match-bg.png"
            alt="Match"
          />
          <img
            class="animate__animated"
            [class.animate__flipOutY]="!tile.opened"
            [class.wm-game__landscape-tile]="tile.isLandscape"
            [src]="tile.imagePath"
            alt="Hint Icon"
          />
          <img
            [hidden]="!tile.matched"
            class="wm-game__tile-bg match"
            src="assets/images/match-border.png"
            alt="Match"
          />
          <img
            [hidden]="tile.matched"
            class="wm-game__tile-bg"
            src="assets/images/leaderboard-bg.png"
            alt="Match"
          />
          <img
            *ngIf="tile.isEffects"
            class="wm-game__effect animate__animated animate__zoomInLeft"
            src="assets/images/match-effect.png"
            alt="Match"
          />
        </div>
      </div>
      <!-- Row 2 -->
      <div class="wm-game__game-row-2">
        <div
          class="wm-game__game-tile animate__animated"
          *ngFor="let tile of row2"
          [class.animate__flipInY]="tile.opened"
          (click)="openTile(tile)"
        >
          <img
            class="animate__animated"
            [class.animate__flipOutY]="!tile.opened"
            src="assets/images/match-bg.png"
            alt="Match"
          />
          <img
            class="animate__animated"
            [class.animate__flipOutY]="!tile.opened"
            [class.wm-game__landscape-tile]="tile.isLandscape"
            [src]="tile.imagePath"
            alt="Hint Icon"
          />
          <img
            [hidden]="!tile.matched"
            class="wm-game__tile-bg"
            src="assets/images/match-border.png"
            alt="Match"
          />
          <img
            [hidden]="tile.matched"
            class="wm-game__tile-bg"
            src="assets/images/leaderboard-bg.png"
            alt="Match"
          />
          <img
            *ngIf="tile.isEffects"
            class="wm-game__effect animate__animated animate__zoomInLeft"
            src="assets/images/match-effect.png"
            alt="Match"
          />
        </div>
      </div>
      <!-- Row 2 -->
    </div>
    <div class="wm-game__hint-container">
      <!-- Pairs -->
      <div class="wm-game__pairs">
        <div class="wm-game__pair-item">
          <img src="assets/images/pairs.png" alt="Pair" />
          <span style="color: black">
            {{ tilesMatch }}
          </span>
        </div>
        <span class="wm-game__pair-caption"> P A I R S &nbsp; F O U N D </span>
      </div>
      <!-- Hint -->
      <!-- <div class="wm-game__hint">
        <span
          class="animate__animated animate__rubberBand animate__delay-1s animate__repeat-3"
        >
          MATCH THESE ICONS
        </span>
        <div class="wm-game__hint-icon-container">
          <div class="wm-game__hint-icon" *ngFor="let tile of neededTiles">
            <img src="assets/images/match-bg.png" alt="Match" />
            <img [src]="tile.imagePath" alt="Hint Icon" />
            <img
              *ngIf="tile.matched"
              class="animate__animated animate__rubberBand"
              src="assets/images/match-border.png"
              alt="Match"
            />
          </div>
        </div>
      </div> -->
      <!-- Time -->
      <div class="wm-game__pairs">
        <span class="wm-game__pair-caption"> TIME </span>

        <div class="wm-game__pair-item">
          <img src="assets/images/time.png" alt="Time" />
          <span style="color: black">
            {{ time | number: '.2-2' }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="wm-game__game-text animate__animated">
    <img src="assets/images/game.png" alt="Game" />
  </div>
  <div class="wm-game__game-text animate__animated" *ngIf="tilesMatch >= 6">
    <img src="assets/images/congrats.png" alt="Game" />
  </div>
  <div class="wm-game__game-text" *ngIf="time >= 30">
    <img src="assets/images/times-up-min.png" alt="Game" />
  </div>
</div>
